/*Backoffice*/
.logo {
  border: 3px solid rgb(126, 102, 74);
  border-radius: 100%;
  background-color: bisque;
}

nav {
  font-weight: bold;
}

.father {
  padding-top: 90px;
}

.add {
  border-right: 1px solid gray;
}

form button {
  border: transparent;
  border-radius: 20px;
}

#salva {
  padding: 1px 8px 1px 8px;
  color: white;
  background-color: green;
  font-weight: bold;
}

#salva:hover{
  background-color: transparent;
  border: 3px solid green;
  color: green;
}

#elimina {
  padding: 1px 8px 1px 8px;
  color: white;
  background-color: red;
  font-weight: bold;
}

#elimina:hover{
  background-color: transparent;
  border: 3px solid red;
  color: red;
}

#pulisci {
  padding: 1px 8px 1px 8px;
  color: white;
  background-color: red;
  font-weight: bold;
}

#pulisci:hover {
  background-color: transparent;
  border: 3px solid red;
  color: red;
}

/*Home*/
.sfondo {
    background-color: lemonchiffon;
    padding-top: 70px;
}

/*Header*/

nav {
  width: 100%;
  z-index: 20000;
}

/*Section*/
.presentazione {
  background-color: beige;
}

#slogan {
  font-size: small;
}

.accentua {
  font-size: larger;
  font-weight: bolder;
}

/*Main*/

#bacheca {
  padding-top: 30px;
}

.resize {
    height: 16rem;
    object-fit: cover;
}

.prodotto{
    background-color: bisque;
    height: 530px;
}

.prodotto:hover {
  transform: scale(1.1);
}

.dettagli {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.service {
  border: 2px solid white;
  color: white;
  border-radius: 10px;
}

/*Dettagli*/

.prodotto1 {
  background-color: bisque;
}

.resize1 {
  object-fit: cover;
}